<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/reg.css">
</head>
<body>
    <div class="game_name"><p>ERROR 1000-7</p></div>
    <div class="login-page">
        <div class="form">
            <form class="register-form" action="/register" method="post">
                <input type="text" placeholder="name" name="login" />
                <input type="password" placeholder="password" id="password" name="password" />
                <input type="password" placeholder="Confirm password" id="confirm_password" />
                <button>register</button>
                <p class="message">Already registered? <a href="login">Sign In</a></p>
            </form>
            <!-- <form class="login-form">
                <input type="text" placeholder="username" />
                <input type="password" placeholder="password" />
                <button>login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form> -->
        </div>
    </div>
    <script src="/reg_script.js"></script>
</body>
</html>
